<h4>New Promotion</h4>
<%= form_with model: @promotion do |f| %>
  <%= f.label 'Start Date' %>
  <%= f.date_field :start_date %><br>
  <%= f.label 'End date' %>
  <%= f.date_field :end_date %><br>
  <%= f.label 'Discount in cents' %>
  <%= f.text_field :discount, placeholder: '2000 = $20' %><br>
  <%= f.label 'User message' %>
  <%= f.text_field :user_message %><br>
  <%= f.label 'Internal message' %>
  <%= f.text_field :internal_message %><br>
  <%= f.label 'Promo code' %>
  <%= f.text_field :code %><br>
  <%= f.label 'User(optional)' %>
  <%= f.collection_select :user_ids, User.all, :id, :username, prompt: true %><br>
  <%= f.submit %>
<% end %>